<ion-list *ngIf="!province">
  <ion-list-header>选择省</ion-list-header>
  <ion-item [lines]="i === (provinces.length - 1) ? 'none' : ''" (click)="selected('province',item)" *ngFor="let item of provinces;let i = index" button>{{item.name}}</ion-item>
</ion-list>
<ion-list *ngIf="province">
  <ion-list-header>选择城市</ion-list-header>
  <ion-item detail="false" [lines]="i === (province.cities.length - 1) ? 'none' : ''" (click)="selected('city',item)" *ngFor="let item of province.cities;let i = index" button>{{item.name}}</ion-item>
</ion-list>
