ion-header {
  .city {
    margin: 0 10px;
    font-size: 14px;
    span {
      &:last-child {
        :before {
          content: ',';
        }
      }
    }
  }
}
.movies {
  width: 1200px;

  .movie-item {
    width: 170px;
    margin: 25px auto;

    .img-box {
      height: 256px;
      margin: 0 auto;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .txt-box {
      h2 {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}

.cinemas {
  width: 100%;
  background: #ededed;
  position: relative;

  &:after {
    left: 0;
    bottom: 0;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
    transform: rotate(-180deg);
  }

  ion-slides {
    width: 1200px;
    padding: 50px 0;

    .cinema-box {
      display: flex;
      align-items: center;
      width: 170px;
      height: 256px;
      overflow: hidden;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      .img-box {

        h2 {
          font-size: 18px;
          margin: 0 20px;
        }
        p {
          font-size: 14px;
          margin: 10px 20px 0;
        }
      }
    }
  }
}
