ion-slides {
  &.banner {
    ion-slide {
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(45, 62, 80, 0.5);

        .content {
          position: absolute;
          right: 80px;
          text-align: left;

          h2 {
            font-size: 50px;
            margin-bottom: 16px;
            color: #fff;
          }

          p {
            color: #fff;
            margin-left: 5px;
          }

          a {
            font-size: 18px;
            padding: 10px 41px;
            background-color: #14b1bb;
            color: #fff;
            text-decoration: none;
            margin-top: 20px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.cinemas {
  width: 100%;
  background: #ededed;
  position: relative;

  &:after {
    left: 0;
    bottom: 0;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
    transform: rotate(-180deg);
  }

  ion-slides {
    width: 1200px;
    padding: 50px 0;

    .cinema-box {
      display: flex;
      align-items: center;
      width: 85px;
      height: 128px;
      overflow: hidden;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      border: 2px solid transparent;
      cursor: pointer;

      &.curr {
        background: #fff;
        color: #3880ff;
        border: 2px solid #3880ff;
      }

      .img-box {

        h2 {
          font-size: 10px;
          margin: 0 3px;
        }

        p {
          font-size: 9px;
          margin: 10px 3px 0;
        }
      }
    }
  }
}

.section-title h2 {
  color: #696969;
  line-height: 1.5;
}

.section-title p {
  margin-bottom: 0px;
  font-size: 16px;
}

.section-title .title-line {
  padding: 10px 0
}

.section-title .title-line:before {
  background: #4FC1F0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 220px;
}

.section-title .title-line:after {
  background: #4FC1F0;
  content: "";
  display: block;
  height: 6px;
  position: relative;
  top: -6px;
  margin: 0 auto;
  width: 60px;
}

.separator {
  bottom: 0;
  clear: both;
  display: inline-block;
  height: 3px;
  position: relative;
  width: 264px;
  background: #14b1bb;
}

.separator:before {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 46px;
}

.separator span {
  border-radius: 50%;
  bottom: -15px;
  height: 30px;
  left: 0;
  line-height: 29px;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
  background: #14b1bb;
  text-align: center;

  img {
    vertical-align: middle;
    text-align: center;
  }
}

.section-title h2 {
  color: #696969;
  line-height: 26px;
}

.section-title p {
  margin-bottom: 0px;
  font-size: 16px;
}

.section-title .title-line {
  padding: 10px 0
}

.section-title .title-line:before {
  background: #4FC1F0;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 220px;
}

.section-title .title-line:after {
  background: #4FC1F0;
  content: "";
  display: block;
  height: 6px;
  position: relative;
  top: -6px;
  margin: 0 auto;
  width: 60px;
}

.separator {
  bottom: 0;
  clear: both;
  display: inline-block;
  height: 3px;
  position: relative;
  width: 264px;
  background: #14b1bb;
}

.separator:before {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 46px;
}

.separator span {
  border-radius: 50%;
  bottom: -15px;
  height: 30px;
  left: 0;
  line-height: 29px;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
  background: #14b1bb;
  text-align: center;

  img {
    vertical-align: middle;
    text-align: center;
  }
}

ion-footer {
  font-size: 14px;

  ion-toolbar {
    --background: #14b1bb;

    .footer-text {
      font-size: 12px;
      line-height: 24px;
      padding: 20px 0;
      color: #fff;
      text-align: center;

      p {
        margin: 0;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
